/* App.css */

/* 전체 입력 섹션 스타일 */
.input-section {
  position: absolute;
  left: 16px;
  top: 60px;
  width: 328px;
  height: 112px;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

/* 왼쪽 덱 입력 박스 스타일 */
.left-deck-input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 158px;
  height: 36px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

/* 오른쪽 덱 입력 박스 스타일 */
.right-deck-input {
  position: absolute;
  left: 170px; /* 왼쪽 박스와의 간격을 고려 */
  top: 0px;
  width: 158px;
  height: 36px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Position Selection과 Add Button 스타일 */
.position-selection {
  position: absolute;
  left: 0px;
  top: 48px;
  width: 328px;
  height: 32px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background: rgba(0, 0, 0, 0);
}

/* Result Selection 스타일 */
.result-selection {
  position: absolute;
  left: 0px;
  top: 92px;
  width: 328px;
  height: 20px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  padding: 0px;
  background: rgba(0, 0, 0, 0);
}